<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%= @note.user.name %> sent you a note from Perfect Audience notes!</p>
    <p>Title: <%= @note.title %></p>
    <p>Content: <%= @note.content %></p>
  </body>
</html>