<div class="d-flex justify-content-center text-center">

<h1> Send Note as Email </h1>

</div>

<div class="d-flex justify-content-center text-center">

  <form action="/send_email" method="get">
  <label for="recipient">Recipient:</label><br>
  <input type="email" id="recipient" name="recipient"><br>
  <label for="sender">Sender</label><br>
  <input type="email" id="sender" name="sender" value=<%=@current_user.email%> readonly><br>
  <label for="note-title">Title</label><br>
  <input type="text" id="note-title" name="note-title" value=<%=@note.title%> readonly><br>
  <label for="content">Content</label><br>
  <input type="text" id="content" name="content" value=<%=@note.content%> readonly><br>
  <input type="hidden" id="id" name="id" value=<%=@note.id%>>
  <br>
  <input type="submit" value="Send Email">
</form>

</div>