<h1>Welcome to Perfect Audience Notes, <%=@current_user.username%>.</h1>

<% if !flash[:alert].nil? %> 
   <div class= "alert alert-danger">
   <%= flash[:alert] %>
   </div>
<% end %>

<div class="note-container">
 <% @notes.each do |note| %>
    <div class="note">
      <h1> Note #<%= note.title %></h1>
      <%= note.content %>
    <div>
 <% end %>
</div>