/* Light Mode */

body.light {
  color: black;
  background-color: white;
}

body.light .card {
  color: black;
  background-color: white;
}
body.light a {
  color: rgb(61, 92, 104);
}

/* Dark Mode */

body.dark {
  color: white;
  background-color: black;
}

body.dark .card {
  color: white;
  background-color: rgb(36, 36, 36);
}
body.dark a {
  color: rgb(61, 92, 104);
}
