/* Nav */

.navbar-brand img {
  height: 1.5em;
}

.nav-item img {
  height: 2em;
}

/* Index */

.container.notes {
  margin-top: 5vh;
  max-height: 65vh;
  overflow: auto;
}

.card {
  margin: 1.25em;
}

/* Light Mode */

body.light {
  color: black;
  background: linear-gradient(
    0deg,
    rgba(26, 69, 1, 0.773546918767507) 0%,
    rgba(203, 203, 203, 0) 100%
  );
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body.light .card {
  border: 1px solid black;
  color: black;
  background-color: transparent;
}
body.light a {
  color: rgb(61, 92, 104);
}
body.light .card-footer {
  color: rgb(0, 183, 255);
}

/* Dark Mode */

body.dark {
  color: white;
  background: linear-gradient(0deg, rgb(20, 53, 1) 0%, rgb(0, 0, 0) 100%);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body.dark .card {
  border: 1px solid white;
  color: white;
  background-color: transparent;
}
body.dark a {
  color: rgb(61, 92, 104);
}
